.container{max-width: 900px; margin:auto;}
.header{margin-top:40px;}
ul li{list-style: none; display: inline-block; min-width: 79%;}
#today-date{ font-size: 25px; margin-bottom: 5px;}
#today-time{ font-size: 20px; margin-bottom: 10px;}
.input-box input{width: 50%; border: 1px solid #ccc; padding: 10px; border-radius: 4px;}
button.add-todolist-button{background-color: #0000ff; border: 1px solid #000; border-radius: 5px;color: #fff; padding: 6px 15px;}
#todo-lists{text-align: left; max-width: 503px; margin: 20px auto;}
#todo-lists li{ font-size: 18px; margin: 5px 0px 5px 10px; padding: 5px 0px;}
.fa{ cursor:pointer;}
li.checked{text-decoration: line-through;}
li.border-added{ border:1px solid #ccc; padding: 8px !important; border-radius: 5px;}
a#editMe{ cursor: pointer;}
.completed{text-decoration: line-through;}